@import url(http: //fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&amp;subset=latin-ext);

body {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

hr {
    background-color: #d8d8d8;
    height: 1px;
    border: 0;
}

a {
    color: #007cbc;
    text-decoration: none;
}

/*
 * On the third level of navigation (i.e. two children deep). The menu should
 * come out of the right side.
 */
.pure-menu-horizontal .pure-menu-children .pure-menu-children {
    left: 100%;
    top: 0;
}

.pure-menu {
    background-color: #f0f0f0;
    height: 72px;
    border-bottom: 1px solid #0094e0;
}

.pure-menu a {
    color: #007cbc;
    font-size: 18px;
    line-height: 32px;
    padding: 18px 0 18px 0;
    margin: 0 24px 0 24px;
    text-align: left;
}

.pure-menu a:hover {
    color: #df007a;
}

.pure-menu .top-level > li > ul {
    border-top: 4px solid #df007a;
}

.pure-menu .pure-menu-children li a:hover{
    background-color: #fff;
}

.pure-menu .pure-menu-selected a {
    font-style: italic;
    color: #1b1b1b;
    border-bottom: 4px solid #0094e0;
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    padding-left: .5em;
    text-decoration: none;
    color: #d8d8d8;
}

.headerlink:hover {
    color: #b8b8b8;
}

#container {
    margin: 0 auto;
    max-width: 1280px;
}

#banner {
    background-color: #f0f0f0;
}

#banner .logo img {
    margin: 40px 40px 30px 73px;
}

#banner .title {
    font-family: 'Raleway', sans-serif;
}

#banner .title h1 {
    margin: 50px 0 20px 0;
    color: #0094e0;
    font-size: 72px;
    font-weight: normal;
}

#banner .title h2 {
    font-size: 20px;
    color: #1b1b1b;
    font-weight: normal;
}

#banner.landing-page .title h1 {
    font-size: 100px;
}

#banner.landing-page .title h1 .title-part-2 {
    color: #df007a;
}

#banner.landing-page .title h2 {
    font-size: 72px;
    margin-top: 0;
    color: #0094e0;

}

#content {
    margin-top: 30px;
} 

#content .toc-inner {
    padding: 0px 59px 0px 51px;
    margin-right: -1px;
    border-right: 1px solid #d8d8d8;
}

#content .toc ul {
    list-style: none;
}

#content .toc a {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #007cbc;
}

#content .body-inner {
    padding: 0px 59px;
}

#content .body h1, 
#content .body h2, 
#content .body h3, 
#content .body h4, 
#content .body h5, 
#content .body h6 {
    color: #cb2958;
    font-weight: normal;
} 
